.day-group {

}

.day-group .messages-divider {
  position: sticky;
  top: 0;
  width: max-content;
  margin: auto;
  padding: 10px 15px;
  background-color: #222;
  color: var(--active);
  border-radius: 25px;
}

.day-group > * {
  margin: 10px 0;
}