.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  --text: #999999;
  --active: #bbb;
  color: var(--text);
  overflow: hidden;
}

.app .chat {
  flex-basis: 100%;
}
